* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.75px;
  font-family: Montserrat;
}
*::selection {
  background-color: rgb(141, 255, 213); 
}
@keyframes fadeInLeft {
  0% {
      transform: translateX(-40px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
      transform: translateX(40px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@media (max-width: 768px) {

}
p{
  font-family: Montserrat;
}
