.main {
    background: url('/surfPicOne.jpg') center/cover no-repeat fixed;
    height: 100vh; /* Set the main div's height to the viewport height */
    color: #fff; /* Text color on top of the image */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.header{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 70px;
    letter-spacing: 20px;
    text-shadow: 4px 4px 0 black;
    font-family: 'Bebas Neue', sans-serif;
}
.para{
    width: 20%;
    padding: 40px;
    line-height: 2;
    background-color: white;
    color: black;
    margin-bottom: 10%;
    margin-left: 65%;
    float: right;
    box-shadow: 10px 10px 0 black;
    border-radius: 10px;
}


