.main {
    background: url('/surfPicOne.jpg') center/cover no-repeat fixed;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.header {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 70px;
    letter-spacing: 20px;
    text-shadow: 4px 4px 0 black;
    font-family: 'Bebas Neue', sans-serif;
    animation: fadeInLeft 1.5s ease; 
}
.spanOR{
    font-size: 12px;
}
.para {
    width: 280px;
    padding: 30px;
    background-color: white;
    color: black;
    margin-bottom: 10%;
    margin-left: 65%;
    box-shadow: 10px 10px 0 black;
    animation: fadeInRight 1.5s ease; 
}
.numberLetter{
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}
.numberLetter2{
    display: flex;
    align-items: center;
}
.numberLetter h4, .numberLetter2 h4{
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
}

@media (max-width: 768px) {
    .header{
        font-size: 50px;
        margin-top: 10%;
    }
    .para{
        margin-left: 20%;
        padding: 15px;
        zoom: 0.90;
    }
    
}
