.secondaryMain{
    height: 50vh;
    padding: 5%;
}
.container{
    display: flex;
    justify-content: space-between;
}
h2{
    font-family: Montserrat;
}
.desc{
    padding-left: 60px;
    padding-right: 90px;
    flex: 3;
}
.headerSecondarySmall{
    color: rgb(45, 189, 141);
    font-weight: 700;
    font-size: 21px;
}
.headerSecondary{
    margin-top: 16px;
    font-size: 26px;
}
.paraSecondary{
    margin-top: 20px;
    letter-spacing: 0px;
    line-height: 1.8;
}
#windy {
    min-height: 50vh; /* Set a minimum height */
    width: 100%;
    flex: 4;
    position: relative;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    overflow: none !important;

}


@media (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
    }
    .desc{
        margin-bottom: 5%;
        padding-left: 0;
        padding-right: 0;
    }
    .headerSecondarySmall{
        font-size: 18px;
    }
    .headerSecondary{
        margin-top: 10px;
        font-size: 24px;
    }
    .paraSecondary{
        margin-top: 12px;
        letter-spacing: 0px;
        line-height: 1.5;
        font-size: 14px;
    }

}