.secondaryMain{
    height: 50vh;
    padding: 5%;

}
.container{
    display: flex;
    justify-content: space-between;
}
h2{
    font-family: Montserrat;
}
.desc{
    padding-left: 60px;
    padding-right: 90px;
    flex: 3;

}
.headerSecondarySmall{
    color: rgb(45, 189, 141);
    font-weight: 700;
    font-size: 21px;
}
.headerSecondary{
    margin-top: 16px;
    font-size: 26px;
}
.paraSecondary{
    margin-top: 20px;
    letter-spacing: 0px;
    line-height: 1.8;
}
#windy {
    height: 50vh;
    width: 50%;
    flex : 4;
}

@media (max-width: 768px) {

}