.secondaryMain{
    height: 80vh;
}
h2{
    margin-top: 5%;
    margin-left: 5%;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
#windy {
    width: 50%;
    height: 60vh;
    flex: 1;

}
#video{
    flex: 1;
}