.cardDiv {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
}
.headerDiv{
  display: flex;
  justify-content: space-between;
}
.place{
  width: 20px;
}
.headerCard{
  color: rgb(45, 189, 141);
  font-weight: 00;
  font-size: 18px;
}
.paraCard{
  margin-top: 6%;
}

.cardDiv button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}



/* MODALS /////////////////////////////////////////////// */


.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 20%;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.modalForm{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.close-button {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.inputFlex{
  display: flex;
  margin-bottom: 5%;
}
.asteric{
  margin-right: 5px;
  position: relative;
  top: 10px;
  color: red;
}

.modalInput{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid black;
  color: black;
  margin-bottom: 18px;
  font-size: 18px;
  height: 2rem;
}
.modalInput:focus{
  outline: none;
  border-bottom: 1.5px solid aquamarine;
}
.modalInput::placeholder{
  color: black;
  font-size: 16px;
}


.span{
  font-size: 16px;
  color:rgb(45, 189, 141);
  margin-left: 5%;

}

.modalTextarea {
  border-top: none;
  padding-bottom: 5px;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid black;
  color: black;
  margin-bottom: 18px;
  font-size: 18px;
  height: 1.5rem;
}

.modalTextarea:focus{
  outline: none;
  border-bottom: 1.5px solid aquamarine;
}

.modalButton{
  color: black;
  font-size: 16px;
  width: 30%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: aquamarine;
  cursor: pointer;
  border: 1.5px solid aquamarine;
  box-shadow: 3px 3px 0 black;

}
.modalButton:hover{
  box-shadow: none;
}